.catkin_workspace
build/
devel/
files/
log/
src/CMakeLists.txt
benchmark_haha.zip
rebound_planner_BB.zip
reference_papers/

*.pyc

.vscode/        
.cursor/       
.agent/         

__pycache__/
*.venv
venv/
env/

*.bag
*.pcd
*.mp4