.vscode/settings.json
.catkin_workspace
build/
devel/
files/
log/
src/CMakeLists.txt
benchmark_haha.zip
rebound_planner_BB.zip
summary_MD/reference_paper.pdf
*.pyc

.vscode/        # VS Code 配置 (除非团队强制统一配置，否则建议忽略)
.cursor/        # Cursor 产生的临时文件 (你之前遇到的那些)
.agent/         # Agent 配置

__pycache__/
*.venv
venv/
env/

*.bag
*.pcd
*.mp4